{{ define "header" }}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="author" content="{{ html .Site.Other.Author }}">
  <title>{{ .Site.Other.Title }}{{ if .Title }} – {{ .Title }}{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="{{ .Rel "static/style.css" }}">
</head>
<body>
{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}

{{define "date"}}
<time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "2006, January 02" }}
</time>
{{end}}

{{ define "page" }}{{ template "header" . }}
  {{$p := .}}
  <nav>
    <ul>
      <li>
        <a href="{{.Rel "/"}}"
          class="main{{if eq .Url ""}} active{{end}}"
          >Askew</a>
      </li>
      <li>
        <a href="{{.Rel "/doc/concepts/"}}">Documentation</a>
      </li>
      {{ range .Site.Pages.GlobSource "doc/*.md" }}
        <li>
          <a href="{{$p.UrlTo .}}"
            class="doc{{if eq .Url $p.Url}} active{{end}}">{{.Title}}</a>
        </li>
      {{ end }}
      <li>
        <a href="https://github.com/flyx/askew" style="display:flex;">
          <img src="{{.Rel "/static/gh-logo.png"}}" style="width: 1em; height: 1em; filter: invert(1); margin-right: .5em;"> Repo
        </a>
      </li>
    </ul>
  </nav>
  <main>
    {{ .Content }}
  </main>
{{ template "footer" . }}{{ end }}

